<h1>Password reset</h1>
<p>To reset your password clink on the link below</p>

<%= link_to "Reset_password", edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours</p>

<p>
  Ignore this email if you don't want to reset your password
</p>